# Core functionality - changes here should be rare!
/src/app.py                   @thixpin
/src/backend/database.py      @thixpin
/src/backend/routers/auth.py  @thixpin

# The frontend will need refactored soon to be more object oriented.
/src/static/   @thixpin
